@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgba(127, 255, 212, 0.5);
}
#principal {
    max-width: 800px;
    background-color: rgba(79, 255, 255, 0.74);
    margin: auto;
    padding: 8px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.527);
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
}
div {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
#stacking {
    position: relative;
}
#box1 {
    background-color: aquamarine;
    position: absolute;
    left: 10px;
}
#box2 {
    background-color: blue;
    position: absolute;
    left: 20px;
    top: 5px;
    z-index: 3;
}
#box3 {
    background-color: red;
    position: absolute;
    left: 30px;
    top: 10px;
}
.css {
    margin-left: 50px;
    background-color: black;
    color: white;
    font-size: 90%;
    width: fit-content;
    padding: 10px;
}
#container {
    display: flex;
    justify-content: center;
}
#box4 {
    background-color: blue;
}
#box5 {
    background-color: yellowgreen;
}
#box6 {
    background-color: teal;
}