@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Courier New', Courier, monospace;
}
header {
  background-color: aquamarine;
  border-bottom: 1px solid;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
  height: 60px;
  padding: 12px;
}
main {
  background-color: white;
  margin: 8px auto 24px;
  max-width: 1000px;
  border: 1px solid;
  border-radius: 20px 0;
  padding: 20px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
h2, h3 {
  padding: 12px;
}
p {
  padding-left: 24px;
}
form {
  margin-left: 48px;
}
