@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: cadetblue;
    min-width: 400px;
}
header {
    height: 70px;
    border-bottom: 1px solid black;
    background-color: aquamarine;
    padding: 16px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}
main {
    max-width: 1000px;
    background-color: antiquewhite;
    padding: 20px;
    margin: auto;
    border-radius: 20px 0;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}
footer {
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
}
li, dt, dd {
    margin-top: 3px;
}
dt {
    margin-left: 24px;
}
dd {
    margin-left: 48px;
}
h2, h3 {
    margin: 12px;
}
main p {
    margin-left: 24px;
}
.js {
    margin: 16px;
    background-color: black;
    padding: 8px 16px;
    width: fit-content;
    color: white;
    border: 4px solid green;
}
.comentario {
  color: yellowgreen;
}
section {
    background-color: white;
    border: 1px solid black;
    margin: 16px 0;
    border-radius: 20px 0;
    padding: 2px 8px 12px;
}
